{% extends 'base.html' %}

{% block title %}
{% endblock title %}
{% block content %}
    <main>
        <h1>Categories</h1>
        <table>
            <thead>
                <th>Name</th>
                <th>Number of receipts</th>
            </thead>
            {% for item in categories_list %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.receipts.all|length }}</td>
                </tr>
            {% endfor %}
        </table>
    </main>
{% endblock content %}
